<?xml version="1.0"?>
<model>
  <name>Go2W</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>go2w + RMF slotcar</name>
    <email>jeoug1002@gmail.com</email>
  </author>

  <description>
    Unitree Go2W, wheel-only version controlled by RMF slotcar plugin.
  </description>
</model>
